html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

article p {
  text-align: justify;
  margin-bottom: 10px;
}

article h1,
h2,
h3 {
  text-transform: capitalize;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar span {
  font-weight: 700;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  border-bottom: 2px solid #e2ddca;
}

/* Utiltieys */

.container {
  padding: 0 2rem;
}

.banner {
  background-color: royalblue;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.banner h1,
p {
  margin: 5px;
}

/* Articles */
.articles {
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  /* border: 1px solid #333; */
  text-align: center;
}

img {
  width: 100%;
}

.article h3 {
  margin: 0;
}
